.u-section-1 {
  background-image: linear-gradient(white, #f9e79b);
}

.u-section-1 .u-sheet-1 {
  min-height: 349px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/222099077_538416357403257_2252562885905898710_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 672px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(245,214,84,0.6), rgba(245,214,84,0.6)), url("images/348de99c88447d1a2455.jpg");
  transition-duration: 0.5s;
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 12px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  transition-duration: 3s;
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 554px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }
}.u-section-2 {
  background-image: linear-gradient(white, #f9e79b);
}

.u-section-2 .u-sheet-1 {
  min-height: 780px;
}

.u-section-2 .u-text-1 {
  margin: 189px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 279px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 44px auto 0 23px;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -6px 49px 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 222px;
  height: 139px;
  margin: -196px 0 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 34px auto 0 23px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 279px;
}

.u-section-2 .u-container-layout-2 {
  padding: 11px 25px;
}

.u-section-2 .u-text-4 {
  margin: 26px auto 0 9px;
}

.u-section-2 .u-icon-2 {
  width: 168px;
  height: 105px;
  margin: -142px 17px 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 35px 0 auto;
}

.u-section-2 .u-text-5 {
  margin: -13px auto 0 9px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 250px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 22px;
}

.u-section-2 .u-text-6 {
  margin: 19px auto 0 1px;
}

.u-section-2 .u-icon-3 {
  width: 203px;
  height: 127px;
  margin: -146px 0 0 auto;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px 34px 0 auto;
  padding: 9px 30px 11px 29px;
}

.u-section-2 .u-text-7 {
  margin: -25px auto 0 1px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 250px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 15px;
}

.u-section-2 .u-text-8 {
  margin: 23px auto 0 15px;
}

.u-section-2 .u-icon-4 {
  width: 213px;
  height: 133px;
  margin: -151px 8px 0 auto;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 7px 44px 0 auto;
}

.u-section-2 .u-text-9 {
  margin: -23px auto 0 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 94px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 206px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 206px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -10px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -95px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -190px;
  }
}.u-section-3 {
  background-image: linear-gradient(white, #f9e79b);
}

.u-section-3 .u-sheet-1 {
  min-height: 780px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 274px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 279px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 44px auto 0 23px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -24px 31px 0 auto;
}

.u-section-3 .u-icon-1 {
  width: 216px;
  height: 135px;
  margin: -175px -2px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 35px auto 0 23px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 279px;
}

.u-section-3 .u-container-layout-2 {
  padding: 4px 0;
}

.u-section-3 .u-text-3 {
  margin: 33px auto 0 34px;
}

.u-section-3 .u-icon-2 {
  width: 227px;
  height: 142px;
  margin: -148px 13px 0 auto;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -11px 60px 0 auto;
}

.u-section-3 .u-text-4 {
  margin: -13px auto 0 34px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 250px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 19px auto 0 23px;
}

.u-section-3 .u-icon-3 {
  width: 235px;
  height: 147px;
  margin: -147px 5px 0 auto;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -9px 57px 0 auto;
  padding: 9px 30px 11px 29px;
}

.u-section-3 .u-text-6 {
  margin: -21px auto 0 23px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 250px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 15px;
}

.u-section-3 .u-text-7 {
  margin: 19px auto 0 15px;
}

.u-section-3 .u-icon-4 {
  width: 213px;
  height: 133px;
  margin: -143px 8px 0 auto;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1px 39px 0 auto;
}

.u-section-3 .u-text-8 {
  margin: -21px auto 0 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-top: 179px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 206px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 206px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 75px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 26px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -83px;
  }
}.u-section-4 {
  background-image: linear-gradient(white, #f9e79b);
}

.u-section-4 .u-sheet-1 {
  min-height: 780px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 274px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 279px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  margin: 44px auto 0 23px;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 30px 0 auto;
}

.u-section-4 .u-icon-1 {
  width: 216px;
  height: 135px;
  margin: -177px -2px 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 35px auto 0 23px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 279px;
}

.u-section-4 .u-container-layout-2 {
  padding: 4px 0;
}

.u-section-4 .u-text-3 {
  margin: 33px auto 0 34px;
}

.u-section-4 .u-icon-2 {
  width: 197px;
  height: 123px;
  margin: -142px 21px 0 auto;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 53px 0 auto;
}

.u-section-4 .u-text-4 {
  margin: -11px auto 0 34px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 250px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 19px auto 0 23px;
}

.u-section-4 .u-icon-3 {
  width: 235px;
  height: 147px;
  margin: -147px 5px 0 auto;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -8px 56px 0 auto;
  padding: 9px 30px 11px 29px;
}

.u-section-4 .u-text-6 {
  margin: -22px auto 0 23px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 250px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-7 {
  margin: 19px auto 0 30px;
}

.u-section-4 .u-icon-4 {
  width: 275px;
  height: 172px;
  margin: -159px -17px 0 auto;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -21px 54px 0 auto;
}

.u-section-4 .u-text-8 {
  margin: -21px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-top: 179px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 206px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 206px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: -22px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 75px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -83px;
  }
}.u-section-5 {
  background-image: linear-gradient(white, #f9e79b);
}

.u-section-5 .u-sheet-1 {
  min-height: 863px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 274px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 279px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  margin: 44px auto 0 23px;
}

.u-section-5 .u-icon-1 {
  width: 216px;
  height: 135px;
  margin: -157px -2px 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 35px auto 0 23px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 279px;
}

.u-section-5 .u-container-layout-2 {
  padding: 4px 0;
}

.u-section-5 .u-text-3 {
  margin: 33px auto 0 34px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -17px 54px 0 auto;
}

.u-section-5 .u-text-4 {
  margin: -13px auto 0 34px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 250px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-text-5 {
  margin: 19px auto 0 23px;
}

.u-section-5 .u-icon-2 {
  width: 235px;
  height: 147px;
  margin: -143px 5px 0 auto;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -12px 56px 0 auto;
  padding: 9px 30px 11px 29px;
}

.u-section-5 .u-text-6 {
  margin: -22px auto 0 23px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 250px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-text-7 {
  margin: 19px auto 0 30px;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -8px 54px 0 auto;
}

.u-section-5 .u-text-8 {
  margin: -21px auto 0 30px;
}

.u-section-5 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -391px auto 0 406px;
}

.u-section-5 .u-icon-3 {
  width: 268px;
  height: 167px;
  margin: -191px -9px 0 auto;
}

.u-section-5 .u-icon-4 {
  width: 275px;
  height: 172px;
  margin: 98px -4px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 206px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 206px;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-left: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 734px;
  }
}.u-section-6 {
  background-image: linear-gradient(white, #f9e79b);
}

.u-section-6 .u-sheet-1 {
  min-height: 780px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 274px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 279px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  margin: 44px auto 0 23px;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 30px 0 auto;
}

.u-section-6 .u-icon-1 {
  width: 277px;
  height: 173px;
  margin: -191px -41px 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 11px auto 0 23px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 279px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-3 {
  margin: 37px auto 0 34px;
}

.u-section-6 .u-icon-2 {
  width: 254px;
  height: 159px;
  margin: -160px -5px 0 auto;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -15px 54px 0 auto;
}

.u-section-6 .u-text-4 {
  margin: -13px auto 0 34px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 250px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-text-5 {
  margin: 19px auto 0 23px;
}

.u-section-6 .u-icon-3 {
  width: 235px;
  height: 147px;
  margin: -147px 5px 0 auto;
}

.u-section-6 .u-btn-3 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -8px 56px 0 auto;
  padding: 9px 30px 11px 29px;
}

.u-section-6 .u-text-6 {
  margin: -22px auto 0 23px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 250px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-top: 179px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 206px;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 75px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 26px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -83px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 149px;
  }
}